
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 500px;
	height: 200px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:98px;
	height: 200px;
}

#imageMenu ul li.login a {
	background: url(images/login.jpg) repeat scroll 0%;
}

#imageMenu ul li.com_login a {
	background: url(images/com_login.jpg) repeat scroll 0%;
}

#imageMenu ul li.without_login a {
	background: url(images/without_login.jpg) repeat scroll 0%;
}

#imageMenu ul li.about_us a {
	background: url(images/about_us.jpg) repeat scroll 0%;
}

#imageMenu ul li.overview a {
	background: url(images/overview.jpg) repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}

/*************************************************************/

